<header>
  <h1>Ruby on Rails スケジュール管理アプリ</h1>
</header>
<div class="main_container">
  <div class="information">
    <h2>スケジュール詳細</h2>
  </div>
  <table>
    <tbody>
      <tr>
        <th>タイトル</th>
        <td>
          <%= @schedule.title %>
        </td>
      </tr>
      <tr>
        <th>開始日</th>
        <td>
          <%= l @schedule.start_date %>
        </td>
      </tr>
      <tr>
        <th>終了日</th>
        <td>
          <%= l @schedule.end_date %>
        </td>
      </tr>
      <tr>
        <th>終日</th>
        <td>
          <%= @schedule.all_day ? '◯' : '' %>
        </td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td>
          <%= @schedule.schedule_memo %>
        </td>
      </tr>
    </tbody>
  </table>
  <ul>
    <li>
      <%= link_to "スケジュール一覧に戻る", :schedules %>
    </li>
    <li>
      <%= link_to "スケジュールを編集する", [:edit, @schedule] %>
    </li>
    <li>
      <%= link_to "スケジュールを削除", @schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </li>
  </ul>
</div>
<footer>
  <h1>現在の日時 : 2022年01月23日 </h1>
</footer>
</body>
</html>